/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* page styles */

body{
    font-family: 'Poppins', sans-serif;
}
.section-title{
    font-size: 64px;
    color: #FFFFFF;
    margin-left: 156px; 
    
}
.container{
    background-color:#2D25A0 ;
    width: 1440px;
    }
    /* using transformeror transition */
    .top-player:hover .player-banner img{
        transform: scale(1.5) skew(-30deg);
        transition: transform 0.5s ease-in-out;
    }
 .player-banner img{
        width: 556px;
        height: 438px;
       margin-top: 75px;
    }
    .top-player{
        display: flex;
        justify-content: space-between;
        margin-right: 141px;
    }
    .link-button{
        background-color: #E02C6D;
        color: #FFFFFF;
        width: 168px;
        height: 44px;
        padding: 10px 24px;
        font-size: 16px;
        text-decoration: none;
        margin-top: 17px;
    }
    .fa-arrow-right{
        width: 24px;
        height: 24px;
        margin-left: 8px;

    }
    