/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* page styles */

body{
    font-family: 'Poppins', sans-serif;
}
 /* navigation styles */
nav li{
    list-style: none;
    margin-right: 20px;
    padding: 1px 10pxpx;

}
.login-info{
    padding-left: 680px;

}
nav li:hover{
    background-color: cyan;
}
nav li a{
    text-decoration: none;
    color: rgb(101, 226, 43);
   
    font-size: 20px;
}
nav > ul
{
    display: flex;
}
nav >ul >li:hover >ul {
    display: block;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: darkorchid;
    padding: 0;
} 
.dropdown li{
    padding: 5px 100px;
    margin-right: 0px;
} 
.section-title{
    font-size: 64px;
    color: #FFFFFF;
    margin-left: 156px; 
    
}
.container{
    background-color:#2D25A0 ;
    width: 1440px;
   
    }
    /* using transformeror transition */
    .top-player:hover .player-banner img{
        transform: scale(1.5) skew(-30deg);
        transition: transform 0.5s ease-in-out;
    }
 .player-banner img{
        width: 556px;
        height: 438px;
       margin-top: 75px;
    }
    .top-player{
        display: flex;
        justify-content: space-between;
        margin-right: 141px;
    }
    .link-button{
        background-color: #E02C6D;
        color: #FFFFFF;
        width: 168px;
        height: 44px;
        padding: 10px 24px;
        font-size: 16px;
        text-decoration: none;
        margin-top: 17px;
    }
    .fa-arrow-right{
        width: 24px;
        height: 24px;
        margin-left: 8px;
    }

     /* all player style */
     span{
         color: rgba(255, 17, 0, 0.932);
     }
     .container-1{
         margin-top: 70px;
         margin-left: 180px;
         margin-right: 210px;
     }
     .top-player1{
        margin-bottom: 30px;
     }
     .players img{
         width: 330px;
         height: 474px;
     }
     .players{
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
    }
     .player{
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow:0px 0px 40px rgba(0, 0, 0, 0.15) ;
     }
     /* highlight match */
     .container-2{
        display: flex;
    }
      .highlights img{
          width: 567px;
          height: 427px;
      }

     
      .image-logo{
          width: 567px;
          height: 427px;
          margin-right: 156px;
          margin-left: 69px;
      }
     #logo{
         margin-top: 158px;
         margin-left: 475px;
         margin-right: 481px;
         width: 483px;
         height: 110px;
     }
     .highlights{
         margin-left: 182px;
        }
        /* footer part */
        footer img{
            width: 483.87px;
            height: 213px;
            margin-left: 475px;
            margin-right: 481px;
            margin-top: 158px;
        }
        .final-icon{
            margin-left: 691px;
            margin-right: 697px;
            display: flex;
        }
        .fa-instagram{
            margin-left: 14px;
        }
        .fa-basketball-ball{
            margin-left: 14px;
        }
        .fa-twitter-square{
            margin-left: 14px;
        }
        .fa-youtube{
            margin-left: 14px;
        }
        /* footer step */
        footer p{
             justify-content: center;
            text-align: center;
            margin-bottom: 63px;
           
        }
        .final-icon{
            display: flex;
            font-size: 18px;
            margin-left: 598px;
            margin-right: 605px;
            margin-bottom: 63px;
            align-items: center;
               
        }